<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home"></i><i class="fa-solid fa-paw"></i>&nbsp;Save a life</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ">
        
        <a class="nav-link ms-3 "  href="/problems">All cases</a>
        <a class="nav-link ms-3" href="/problems/new">Post a case</a>
      </div>
      <div class="navbar-nav ms-auto">
        <% if(!currUser){%>
          <a class="nav-link ms-3" href="/signup">Sign up</a>
          <a class="nav-link ms-3" href="/login">Login</a>
        <%}%>
        <% if(currUser){%>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle userOptions" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">  
                <% if(currUser.profilePicture.url){%>
                  <img src="<%= currUser.profilePicture?.url || '/images/default-profile.png' %>"
                    alt="Profile"
                    class="rounded-circle "
                    style="width: 42px; height: 42px; object-fit: cover;">
                <%}%>
                <%if(!currUser.profilePicture.url){%>
                  <i class="fa-solid fa-user fs-5" ></i>
                <%}%>  
                <%=currUser.username%>
                <i class="fa-solid fa-bars " ></i>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/problems/<%=currUser._id%>/profile"> <i class="fa-solid fa-user"></i>  Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout" ><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
              </ul>
            </li>
        <%}%>

      </div>
    </div>
  </div>
</nav>