<% layout("/layouts/boilerplate") %>    
<body >
    <h1 class="hero-heading text-center mt-5 mb-4">Save a Life</h1>

    <div class="carouselInfo row align-items-center "></div>
        <div id="carouselExample" class="carousel slide col-6 offset-3"  data-bs-ride="carousel" data-bs-interval="3000">
                    <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="/images/dog.avif" class="d-block" style="height: 500px; width: 610px;" alt="...">
            </div>
            <div class="carousel-item">
            <img src="/images/cat.png" class="d-block" style="height: 500px; width: 610px;" alt="...">
            </div>
            <div class="carousel-item">
            <img src="/images/cow.jpg" class="d-block" style="height: 500px; width: 610px;" alt="...">
            </div>
            <div class="carousel-item">
            <img src="/images/monkey.jpg" class="d-block" style="height: 500px; width: 610px;" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>
        
         <div class="col-md-6 offset-3">
            <h2>Join the Rescue Movement</h2>
            <p>Report injured animals. Help make a difference today.</p>
            <a href="/problems/new" class="btn btn-success">Post a Case</a>
        </div>
    </div>
    <div class="section bg-light p-5 rounded shadow mt-5 mb-5 offset-1">
        <h4 class="mb-3">Why This App?</h4>
        <p class="lead">Untreated animals ... human activity on animal habitats...They have to be helped , This can serve like a portal for those who want to help can inform us </p>
        <div class="reasons">
            <h5>Major Reasons</h5>
            <ul class="list-unstyled">
                <li>🐾 Neglect</li>
                <li>💉 Lack of veterinary care</li>
                <li>🦠 Disease transmission</li>
                <li>🌍 Pollution & climate change</li>
            </ul>
        </div>
    </div>

   <div class="row stepsInfo my-5 offset-1">
    <div class="col-md-6">
        <h3><i class="fa-solid fa-shield-dog me-2"></i>Steps When You Encounter a Case</h3>
        <ul class="list-unstyled">
                <li>
                    <h6>Assess the situation</h6>
                    <p>Determine if the animal is in immediate danger and if you can safely approach it</p>
                </li>
                <li>
                    <h6>Open the website</h6>
                    <ul>
                        <li>
                            <h6>Document the incident</h6>
                            <p class="col-6">If possible, take photos or videos of the situation, including the animal's condition, any visible injuries, and the location. Note down details like the date, time, and any other relevant information. </p>

                        </li>
                        <li>
                            <h6>Report this incident in website</h6>
                            <p>Post a new case , providing details in detail</p>
                        </li>
                        
                    </ul>

                </li>
                <li>
                    <h6> Provide immediate aid (if safe)</h6>
                    <p class="col-6">
                        If the animal is injured, you can try to provide some basic care, such as offering water or covering it with a blanket. However, avoid any actions that could cause further harm or distress. 
                    </p>
                </li>
                <li>
                    <h6>Follow up</h6>
                </li>
                <li>
                    <h6>Increase awarness</h6>
                </li>
            </ul>
        </div>
        
       <div class="col-md-6 text-center">
            <img src="/images/responsibility.jpg" class="img-fluid rounded shadow" alt="Responsibility">
        </div>
    </div>
    <hr>
    <div class="section bg-white p-4 my-5 rounded shadow firstAidInfo offset-1">
        <div class="firstAid">
            <h2 class="mb-4"><i class="fa-solid fa-kit-medical me-2"></i>Basic first aid tips</h2>
            <h3>If the species is injured,bleeding or bitten</h3>
            <ul class="col-8">
                <br>
                <h6>FRACTURES</h6>
                <li>Gently lay it on a flat surface for support</li>
                <li>If possible and safe, try to stabilize the injury by bandaging or splinting it before moving . Since a poorly applied bandage or splint can do more harm than good, leave this step to the veterinarian if you’re uncertain.</li>
                <br>
                <h6>INTERNAL BLEEDING</h6>
                <p>Signs of internal bleeding include bleeding from nose, mouth, or rectum; coughing up blood;  pale gums; collapse; and a weak and rapid pulse.</p>
                <li>Keep the species as warm and quiet as possible.</li>
                <li>veterinary access has to be provided soon</li>
                <br>
                <h6>EXTERNAL WOUNDS</h6>
                <p>Use a clean cloth or towel to apply firm pressure directly over the bleeding site.</p>
                <li>Avoid checking to see if the bleeding has stopped until you’ve applied pressure for at least three minutes.</li>
                <li>If you see blood soaking through the applied towel/cloth, do not remove it. Instead, add towels on top of previous layers to avoid disturbing any blood clots that might have formed.</li>
                <br>
                <h6>BURNS</h6>
                <li>Flush the burn with room temperature water. This process may be painful so take appropriate precautions, such as applying a muzzle, to avoid being scratched, bitten, or otherwise injured.</li>
                <li>Cover the burned area with towels dampened with room temperature water.</li>
                <li>Seek veterinary care immediately</li>
            </ul>
        </div>
        <div class="firstAidImg">
            <img src="/images/firstAid.jpg">
        </div>

    </div>
    <div class="slogan-section text-center my-5 offset-1">
        <h2 class="mb-4">Every Life Matters 🐾</h2>
        <p class="fs-4 fst-italic">"Be the voice they don’t have."</p>
        <p class="fs-4 fst-italic">"Compassion is the first aid we all need."</p>
        <p class="fs-4 fst-italic">"Don’t turn away—step in and save a life."</p>
        <p class="fs-4 fst-italic">"Kindness can heal more than wounds."</p>
        <p class="fs-4 fst-italic">"The smallest act of care can save the biggest hearts."</p>
    </div>

    
    
</body>